
  @import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-center;
  min-height: 100vh;
  background: #131736fb;
}

.title-box {
  display: flex;
  padding: 30;
  color: #00ff26;
  font-family: 'Unbounded', sans-serif;
  letter-spacing: 2px;
  font-family: 'Unbounded', sans-serif;
}

.navbar {
  width: 74vmin;
  height: 80vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #203253;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
  color: #00ff26;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.gameboard {
  height: 100%;
  width: 100%;
  display: grid;
  background: #1c2840;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.gameboard .food {
  background: #ff00dd;
}

.gameboard .head {
  background: #00ff55;
}
